
.rounded-border{
    border-radius: 2rem;
    border: 0;
}
.add-task{
    height: 2.5rem;
    font-size: medium;
    max-width: 15rem;
    min-width: 10rem;
    font-weight: bold;
}
.icon-display{
     transform: scale(2);
}
.search-box{
    background-color: rgb(197, 209, 245);
    height: 2.5rem;
    font-size: small;
}
.date{
    background-color: rgb(185, 204, 240);
    font-size: small;
    font-weight: 500;
    width: 13rem;
    display: flex;
    justify-content: center;
    color: rgb(34, 32, 32);
}
.task-text{
    border: 2px solid rgb(179, 175, 175);
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 0.3rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.check-box{
    height: 1rem;
    width: 1rem;
}
.bg-grey{
background-color: rgb(137, 142, 182);
}
