<div class="row m-3 todo-app bg-light">
  <div class="pt-2 navBar">
    <div class="d-flex h4 justify-content-center">
      <mat-icon class="icon-display">check_circle</mat-icon>
      <span class="ml-2"> Todo </span>
    </div>
    <div class="px-0 flex-column navSelection">
      <div
        role="button"
        class="d-flex align-items-center navButton pl-2 py-2 mb-3"
        (click)="changeViewMode('all')"
        [ngClass]="{ 'active-bar': viewMode === 'all' }"
      >
        <mat-icon class="mr-2">assignment</mat-icon>
        All Tasks
      </div>
      <div
        role="button"
        class="d-flex align-items-center navButton pl-2 py-2"
        (click)="changeViewMode('today')"
        [ngClass]="{ 'active-bar': viewMode === 'today' }"
      >
        <mat-icon class="mr-2">update</mat-icon>
        Today's Tasks
      </div>
    </div>
  </div>
  <div class="list">
    <app-todo-list [viewMode]="viewMode"></app-todo-list>
  </div>
</div>
